<!DOCTYPE html>
<html lang="pt_br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/cadastrar.css">

    <link rel="preconnect " href="https://fonts.googleapis.com ">
    <link rel="preconnect " href="https://fonts.gstatic.com " crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fredericka+the+Great&family=Monoton&family=Open+Sans:wght@300;400&family=Poppins:wght@500;700&display=swap " rel="stylesheet ">


    <title>SISMOB - Alterar Imobilizado</title>
</head>

<body>



    <header>
        <%- include(`parts/header`)  %>
    </header>
    <main>
        <h1>ALTERAR DADOS DO IMOBILIZADO - <%= result[0].id %></h1>
    
        <form action="/update-imob/<%= result[0].id%>" method="POST">
         

            <p>
                <label for="idCategoria">Selecione a categoria</label>
                <input id="idCategoria" type="number" name="idCategoria" value="<%=result[0].idcategoria%>">
            </p>

            <p>
                <label for="numeroSerie">Numero de Série</label>
                <input id="numeroSerie" type="text" name="numeroSerie" value="<%=result[0].numeroserie%>">
            </p>
            
            <p>
                <label for="notaFiscal">Nota Fiscal</label>
                <input id="notaFiscal" type="text" name="notaFiscal" value="<%=result[0].notafiscal%>">
            </p>
            <p>
                <label for="dataCompra">Data da compra</label>
                <input id="dataCompra" type="text" name="dataCompra" value="<%=result[0].datacompra%>">
            </p>
            <p>
                <label for="valorCompra">Valor da compra</label>
                <input id="valorCompra" type="number" name="valorCompra" value="<%=result[0].valorcompra%>">
            </p>
            
            <p class="full-width">
                <label for="descricao">Digite a descrição</label>
                <input id="descricao" type="text" name="descricao" value="<%=result[0].descricao%>">
            </p>
            <p class="b-full-width">
                <button>ALTERAR</button>
                <button> <a href="/">Cancelar</a></button>    
            </p>
          

        </form>
  
    
    </main>

  
</body>

</html>


