<!DOCTYPE html>
<html lang="pt_br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel=" stylesheet " href="../../styles/consulta.css ">
    <link rel="preconnect " href="https://fonts.googleapis.com ">
    <link rel="preconnect " href="https://fonts.gstatic.com " crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fredericka+the+Great&family=Monoton&family=Open+Sans:wght@300;400&family=Poppins:wght@500;700&display=swap " rel="stylesheet ">
    


    <title>COMOB - Consulta Funcionários</title>
</head>

<body>
    <!-- <script>
        function sendId(e){
            const id = e.target.dataset.id
    
            window.localStorage.setItem('imob', `${id}`)
            
        }
    </script> -->
    <header>
        <%- include(`parts/header`)%>
    </header>
    
    <main>
        <div class="content">
            <table>
                <thead>
                    <tr>
                        <td>NOME</td>
                        <td>IDADE</td>
                        <td>CPF</td>
                        <td>DEPARTAMENTO</td>
                        <td>CARGO</td>
                        <td>DATA ADMISSAO</td>
                    </tr>
                </thead>
                <tbody>
                    
                    <% result.forEach(sqls => { %>
                        <tr>
                            <td><%= sqls.nome %></td>
                            <td><%= sqls.idade%> </td>
                            <td><%= sqls.cpf%> </td>
                            <td><%= sqls.departamento%> </td>
                            <td><%= sqls.cargo  %> </td>
                            <td><%= sqls.dataadmissao  %> </td>
                            <td> <a href="/alter-user/<%=sqls.cpf%> "> Detalhes</a> </td>
                        </tr>
                    <% }); %>
                </tbody>

            </table>
        </div>
    </main>
    

 


</body>

</html>